* {
  box-sizing: border-box;
}

body > header#blue {
  color: blue !important;
}

body > header#blue {
  color: hotpink;
}

header#blue {
  color: pink;
}

header.orange-title { 
  color:orange; 
  font-size: 12px; 
  text-decoration: overline;
  background-color: blueviolet;
}

#footer {
  border: 2px solid coral;
}

section > figcaption {
  font-size: 48px;
}

